.back div a:visited, .back div a:link, .tag a:link, .tag a:visited {
	color: black;
}

.back div a:hover {
	color: #cc1122;
}

.back div a ul li {
	float: left;
	padding: 20px 0 0 0;
	font-size: 0.9em;
	font-family: proxima-nova, Montserrat, sans-serif;
	font-weight: 100;
}

.back div a ul li:nth-child(1) {
	padding-right: 5px;
}



/************************************************************
EVENT DETAILS AND INFORMATION
************************************************************/

.individual-event ul {
	padding: 0;
}

.individual-event ul li h1 {
	margin: 0;
	padding: 0;
}

.individual-event ul li h1 {
	font-size: 2em;
}

.individual-event ul li h3 {
	font-size: 1em;
	padding: 4px 0 5px 0;
	line-height: 1.4em;
}

.tag {
	height: 15px;
}

.tag ul li {
	height: 20px;
	width: 20%;
	margin: 0 10px 0 0;
	border-radius: 4px;
	text-align: center;
	background-color: #B2B2B2;
	font-family: Helvetica, sans-serif;
	font-weight: 100;
	font-size: 0.9em;
	float: left;
}

.tag ul li:hover {
	background-color: #A0A0A0;
}

.event-highlights {
	margin-top: 20px;
}

.event-highlights, .event-highlights tr td {
	border: 1px solid #808080;
}

.event-highlights tr td {
	width: 33.333%;
	height: 110px;
	vertical-align: top;
	text-align: center;
	padding: 20px 0 0 0;
}

.event-highlights tr td i {
	color: red;
}

.event-highlights tr td p {
	line-height: 1.3em;
	margin-top: 3px;
	font-size: 1em;
	font-weight: bold;
	font-style: proxima-nova, Montserrat, sans-serif;
}

.additional {
	margin: 20px 0;
	width: 100%;
}

.additional tr td {
	padding: 5px 0;
	border-top: 1px solid #808080;
	border-bottom: 1px solid #808080;
}

.additional tr td:nth-child(1) {
	font-weight: bold;
	color: #cc1122;
}

.additional tr td:nth-child(2) {
	padding: 0 0 0 10px;
}























#map {
	margin-top: 20px;
	height: 300px;
	width: 100%;
}