textarea:focus, input:focus{
    outline: 0;
}

.btn:focus, input:focus{
    outline: 0;
}

#nav div ul, #second-nav div ul, #filters ul {
	list-style-type: none;
}

h1 {
	font-family: proxima-nova, Montserrat, sans-serif;
	font-weight: bold;
	font-size: 1.5em;
	padding: 0;
	margin: 30px 0px 15px 0px;
	color: black;
}

h2 {
	font-family: proxima-nova, Montserrat, sans-serif;
	font-size: 1.8em;
	font-weight: bold;
	color: black;
}

h3 {
	font-family: proxima-nova, Montserrat, sans-serif;
	font-weight: bold;
	font-size: 1.5em;
	padding: 0;
	margin: 0;
}

ul {
	list-style: none;
}

li a:link {
	text-decoration: none;
}

.scrollable-menu {
    height: auto;
    max-height: 199px;
    overflow-x: hidden;
}



/************************************************************
NAVIGATION
************************************************************/

#nav {
	margin: 0;
	padding: 0;
	background-color: #751d13;
}

#nav div ul li a:link {
	color: #eadcda;
}

#nav div ul li a:visited {
	color: #eadcda;
}

#nav div ul li a:hover {
	color: #eadcda;
}

#first-nav {
	height: 40px;
	font-family: Helvetica, sans-serif;
	font-size: 0.9em;
	font-weight: 300;
	letter-spacing: 0.05em;
}

#first-nav ul li {
	padding: 10px 20px 0 0;
	float: left;
}

#first-nav ul li i {
	padding: 0 0 0 7px;
	margin-top: -3px;
}

#first-nav ul:nth-child(2) {
	float: right;
}

#first-nav ul:nth-child(2) li {
	float: right;
	padding: 10px 0 0 20px;
}

#first-nav a:hover {
	text-decoration: underline;
}

#second-nav div ul li a:link, #second-nav div ul li a:visited, #second-nav div ul li a:hover, #featured li a:link, #featured li a:visited, #featured li a:hover {
	color: white;
}

#second-nav {
	background-color: #cc1122;
	height: 90px;
}

#second-nav div {
	height: 90px;
	margin: 0 auto;
}

#second-nav div ul li {
	padding: 35px 18px 0 0;
	float: left;
	font-family: proxima-nova, Montserrat, sans-serif;
	font-size: 1em;
	text-transform: uppercase;
}

#second-nav div ul li img {
	margin: -15px 30px 0 -15px;
	height: 47px;
}

#second-nav ul:nth-child(2) li {
	float: right;
	padding: 16px 0 0 0;
	margin-right: -15px;
}

#second-nav div ul:nth-child(1) li:nth-child(n+2) {
	display: none;
}

#first-nav ul:nth-child(2) {
	display: none;
}



/************************************************************
SEARCH EVENTS
************************************************************/

#search-box {
	border: 1px solid #808080;
	border-radius: 4px;
}

#search-box > ul {
	padding: 1.4% 0 0 0;
	margin: 0;
}

#search-box > ul li {
	padding: 0;
}

#search-box > ul {
	margin: 0 1.4%;
}

#search-box > ul:nth-child(1) li {
	float: left;
	border: 1px solid #808080;
	border-radius: 4px;
}

#search-box ul:nth-child(1) li form input:nth-child(1) {
	border: none;
	border-radius: 4px;
	height: 40px;
	font-size: 1.1em;
	width: 92%;
	padding-left: 15px;
	font-family: Helvetica, sans-serif;
}

#search-box ul:nth-child(1) li form input:nth-child(2) {
	font-family: FontAwesome;
	width: 7%;
	padding: 10px 0px;
	border: none;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	background-color: #cc1122;
	color: white;
	float: right;
}

#search-box ul:nth-child(1) li form input:nth-child(2):hover {
	background-color: #DD122A;
}

#filters .btn {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

#filters > li button {
	background-color: #cc1122;
	border: none;
	height: 50px;
	width: 100%;
	margin-bottom: 3%;
}

#filters > li button ul {
	border: none;
	color: white;
	font-family: proxima-nova, Montserrat, sans-serif;
	font-size: 1.1em;
}

#filters > li button:hover {
	background-color: #DD122A;
}

#filters > li button ul {
	padding: 0;
}

#filters > li button ul li {
	padding: 0 0 0 5px;
	float: left;
}

#filters > li button ul li:nth-child(2) {
	float: right;
	padding-right: 10px;
}

.filter-categories {
	margin: -2.9% 0 2.9% 0;
	padding: 0 0 0 0;
	border-radius: 1px;
	border-right: 1px solid #808080;
	border-left: 1px solid #808080;
	border-bottom: 1px solid #808080;
	background-color: white;
}

.filter-categories > li {
	float: none;
}

.filter-categories li a {
	padding: 0;
} 

.filter-categories li a ul {
	border-bottom: 1px solid #808080;
	font-family: Helvetica, sans-serif;
	font-size: 1em;
	padding: 10px 20px 10px 15px;
}

.filter-categories li a ul li:nth-child(2) {
	font-size: 1.2em;
	margin-top: -4px;
	font-family: Helvetica, sans-serif;
	font-weight: 200;
}

.filter-categories li a ul li {
	display: inline;
	color: black;
}

.filter-categories li ul li:nth-child(2) {
	float: right;
}

.filter-categories li:last-child a ul {
	border: none;
}

.filter-categories li a:link {
	color: black;
}

.filter-categories li a:visited {
	color: black;
}

.filter-categories li a ul:hover {
	background-color: #E6E6E6;
}

#filter-date {
	margin: -2.9% 0 2.9% 0;
	padding: 0;
	height: 800px;
	border-radius: 0;
	font-family: Helvetica, sans-serif;
}

#filter-date > li {
	width: 100%;
	height: 40px;
}

#filter-date > li > ul {
	width: 100%;
	height: 35px;
	margin: 0 auto;
	padding: 0;
	background-color: #E6E6E6;
	text-align: center;
	border-bottom: 1px solid #808080;
}

#filter-date li ul li {
	padding: 7px 0 0 0;
}

#filter-date li ul li a {
	margin: 0;
	padding: 0;
}

#filter-date li ul li a:nth-child(2) {
	padding: 0 15px;
}

#filter-date li ul li a:nth-child(1) {
	padding: 0 15px 0 0;
}

#filter-date li ul li a:nth-child(3) {
	padding: 0 0 0 15px;
}

#filter-date li ul li a:link, .filter-date li ul li a:visited {
	color: black;
}

#filter-date li table {
	width: 102%;
	padding: 0 10px;
	margin: -5px 0 0 -1px;
	text-align: center;
}

#filter-date li a:visited {
	color: black;
}

#filter-date li table td {
	border: 1px solid #808080;
	height: 27.25px;
}

#filter-date li table td a {
	width: 100%;
	height: 10px;
	background-color: blue;
}

#filter-date li table td a p {
	padding: 0;
	margin: 0;
	height: 20px;
}

#filter-date li table td:hover, #filter-date li table td:hover a:visited, #filter-date li table td:hover a:link {
	background-color: #CCCCCC;
}

#filter-date li table tr:nth-child(1) td {
	border-top: none;
}

#filter-date li table tr:last-child td {
	border-bottom: none;
}

#featured li p {
	background-color: #4D4D4D;
	margin: -1.4% 0 1.4% 0;
	width: 40%;
	padding: 4px;
	border-radius: 4px;
	font-family: Helvetica, sans-serif;
	font-size: 0.8em;
	text-align: center;
	height: 23px;
}

#featured li p:hover {
	background-color: #5E5E5E;
}



/************************************************************
EVENTS HEAD
************************************************************/

#events-head {
	border-bottom: 1px solid #808080;
}

#events-head div {
	color: black;
	margin-top: 20px;
}

#events-head div h3 {
	padding: 0 0 0px 0;
	margin: 0 0 15px 0;
}

#events-head div div ul li {
	margin: 0;
	padding: 0;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	text-align: center;
	font-family: proxima-nova, Montserrat, sans-serif;
	font-size: 1em;
	height: 40px;
	font-weight: normal;
	border: 1px solid #808080;
	border-bottom: none;
	width: 49%
}

#events-head div div ul li:nth-child(1) {
	margin-right: 2%;
}

.nav > li > a:focus, .nav > li > a:hover {
	background-color: #cc1122;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

#events-head div div ul .active {
	background-color: #cc1122;
}

#events-head div div ul .active a:link {
	color: white;
}

#events-head div div ul a:hover {
	color: white;
}

#events-head div li a:visited, #events-head div li a:hover, #events-head div li a:link {
	color: black;
}



/************************************************************
VIEW WEEKLY EVENTS
************************************************************/

#weekly {
	padding: 10px 0 0 0;
}

#line {
	padding-bottom: 40px;
	border-bottom: 1px solid #808080;
}

.weekly-event-item a > div {
	border: 1px solid #808080;
	padding: 0 0 23px 0;
	margin-top: -1px;
}

#weekly div h2 {
	font-size: 1.5em;
	padding-bottom: 5px;
	padding-top: 5px;
}

.weekly-event-item {
	margin: 0;
}

.weekly-event-item a div h3 {
	padding-top: 10px;
	padding-bottom: 5px;
	height: 35px;
	overflow: hidden;
}

.weekly-event-item a:link, .weekly-event-item a:visited {
	color: black;
	text-decoration: none;
}

.weekly-event-item div:hover, .weekly-event-item div:hover ul li div ul li a {
	background-color: #E6E6E6;
}

.weekly-event-item div ul {
	padding: 0;
}

.weekly-event-item div ul li div ul {
	margin: 0 30px 0 0;
}

.weekly-event-item div ul li div ul li {
	font-family: Helvetica, sans-serif;
}

.weekly-event-item div ul li div ul li:nth-child(2n+1) {
	margin: 0 8px 0 0;
}

.weekly-event-item div ul li div ul li:nth-child(2n+1) {
	color: #cc1122;
}

.weekly-event-item div ul li div ul{
	float: left;
	margin-bottom: 15px;
}

.weekly-event-item div ul li ul li{
	float: left;
}

.weekly-event-item-none {
	margin: 0;
}

.weekly-event-item-none > div {
	border: 1px solid #808080;
	padding: 10px 0 0 15px;
}



/************************************************************
VIEW DAILY EVENTS
************************************************************/

#daily > div {
	border-bottom: 1px solid #808080;
}

#daily > div > div > div {
	margin: 20px 0 20px 0;
	padding: 0;
}

#daily a:link, #daily a:visited {
	color: black;
}

.daily-date {
	margin: 10px 0 0 0;
	padding: 0;
}

.daily-date h2 {
	margin: 0;
	padding: 0;
	font-family: proxima-nova, Montserrat, sans-serif;
	font-size: 6em;
	color: black;
	letter-spacing: -0.02em;
	text-align: center;
}

.daily-date h3 {
	margin: 0 0 -15px 0;
	padding: 0;
	font-family: proxima-nova, Montserrat, sans-serif;
	font-size: 3em;
	color: black;
	letter-spacing: -0.02em;
	text-align: center;
}

.daily-item {
	margin: 0;
	padding: 0;
	height: 140px;
	overflow: hidden;
	border: 1px solid #808080;
}

.daily-item:hover {
	background-color: #E6E6E6;
}

.daily-item > a > ul{
	margin: 0;
	padding: 0;
	height: 140px;
}

.daily-item > a > ul li img {
	margin: -1px 0 0 -1px;
	padding: 0;
	border: 1px solid #808080;
	height: 140px;
	display: none;
}

.daily-item > a > ul > li {
	float: left;
}

.daily-item > a > ul > li:nth-child(2) {
	padding-left: 15px;
}

.daily-item > a > ul li div h2 {
	margin: 0;
	padding: 15px 0 0 0;
	overflow: hidden;
	height: 40px;
}

.daily-item > a > ul li div p {
	margin: 0 0 7px 0;
	padding: 0;
}

.detail {
	margin: 0;
	padding: 0;
	height: 30px;
	overflow: hidden;
}

.detail li {
	float: left;
	padding: 0 5px 0 0;
}

.detail li ul {
	margin: 0;
	padding: 0;
	height: 30px;
}

.detail li ul li {
	overflow: hidden;
	height: 30px;
}

.detail li ul li i {
	margin: 0 0 18px 0;
	padding: 0;
	color: #cc1122;
}

.detail li ul li p {
	padding: 0 15px 0 0;
}

.tags {
	margin: 0;
	padding: 0;
}

.tags {
	overflow: hidden;
}

.tags li {
	float: left;
	margin: 0 10px 0 0;
	padding: 1px 15px 3px;
	height: 20px;
	text-align: center;
	font-size: 0.85em;
	background-color: #B2B2B2;
	border-radius: 4px;
}



/************************************************************
VIEW EVENTS
************************************************************/

#first-footer {
	height: 300px;
	background-color: #423535;
	margin: 50px 0 0 0;
}

#second-footer {
	height: 250px;
	background-color: black;	
}










