@media screen and (max-width:768px) {


}

@media screen and (min-width:768px) {
	
	#second-nav div ul:nth-child(1) li:nth-child(n+2) {
		display: inline;
	}

	#second-nav div ul:nth-child(1) li:nth-child(n+5) {
		display: none;
	}

	#first-nav ul:nth-child(2) {
		display: inline;
	}

	#second-nav ul:nth-child(2) li {
		padding: 27px 0 0 0;
	}

	#search-box > ul:nth-child(1) {
		margin: 0 1.4%;
	}

	#search-box > ul:nth-child(2) {
		margin: 0;
	}

	#search-box > ul:nth-child(2) > li {
		margin-left: 1.4%;
		width: 23.25%;
	}

	#search-box > ul:nth-child(2) li:nth-child(1) {
		margin-left: ;
	}

	#featured li p {
		margin: 0 0 1.4% 0;
	}

	#filters > li button {
		margin-bottom: 1.4%;
	}

	.filter-categories {
		margin: -1% 0 1% 0;
	}

	.filter-categories li a ul {
		font-size: 0.85em;
	}

	.filter-categories li a ul li:nth-child(2) {
		font-size: 1.2em;
	}

	#filter-date {
		margin: -1% 0 1% 0;
	}

	#featured li p {
		width: 20%;
	}

	.weekly-event-item a > div {
		border: 1px solid #808080;
		padding: 0;
		margin-top: -1px;
	}

	.weekly-event-item div h3 {
		padding: 10px 0 5px 15px;
	}

	#events-head div div ul li {
		margin: 0px 1.4% 0 0;
		width: 20%;
	}

	#events-head div div ul li:nth-child(1) {
		margin-right: 1.4%;
	}

	.daily-item > a > ul li img {
		display: inline;
	}
}

@media screen and (min-width:992px) {
	
	.filter-categories li a ul {
		font-size: .95em;
	}
	
	#second-nav div ul:nth-child(1) li:nth-child(n+5) {
		display: inline;
	}

}

@media screen and (min-width:1200px) {

	#second-nav div ul li {
		padding: 35px 30px 0 0;
		font-size: 1.15em;
	}

}